@font-face {
  font-family: "Diogenes";
  src: url("font/Diogenes.woff2") format("woff2"),
    url("font/Diogenes.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --rotation-angle: 0deg;
  --margin-offset: -30px;
  --BG-left: -500px; /*-500 - -800*/
  --BG-bottom: 0px; /*0 - -300*/
  /*COLORS*/
  --text-color: #2e3546;
  --bg-color1: #e8d3b7;
  --bg-color2: #dcbb90;
  --border-color: #76582d;
  /*Stickers
  --rockBG: url("svg/iloverocks.svg") 20px 20px, url("svg/rock.svg") 0 0;
  --rockBG-size: 20%, 100%;*/
  --rockBG: url("svg/rock.svg") 0 0;
  --rockBG-size: 100%;
}

/*@media only screen and (max-width: 900px) {
  /* For mobile phones:
  * {
    font-size: 16px;
  }
}*/

* {
  margin: 0;
}

#overflow {
  overflow: hidden;
}

body {
  background-color: var(--bg-color1);
  color: var(--text-color);
  font-family: "Diogenes";
}

/*body::before {
  content: "";
  position: fixed;
  top: -10%;
  left: -10%;
  right: 0;
  z-index: -1;
  display: block;
  background-size: cover;
  width: 120%;
  height: 120%;
  background-image: url("img/monaback.jpg");
  filter: blur(3px);
  margin-top: calc((var(--BG-top)) / 10);
  margin-left: calc((var(--BG-left)) / 10);
}*/

header,
footer {
  height: 7vh;
  background-image: url("svg/bluegreekkeywithlines.svg");
  background-repeat: repeat-x;
  width: 100%;
  position: fixed;
  background-color: var(--bg-color2);
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

footer {
  bottom: 0;
}

header {
  font-size: 3vh;
  align-content: center;
}

header div {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  background-color: var(--bg-color2);
  border: solid 4px var(--border-color);
  height: calc(100% - 8px);
  align-content: center;
}

header a {
  font-size: 2vh;
  align-content: center;
}
a {
  color: #3d507e;
}
a:visited {
  color: #3d507e;
}
a:hover {
  color: #68779a;
}

header a img {
  height: 3.5vh;
  margin: 3px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  margin: auto;
  padding-top: 7vh;
  aspect-ratio: 1.5;
}

#info {
  font-family: "Diogenes";
  position: fixed;
  top: 11vh;
  left: 5vw;
  z-index: 1000;
}

/* Slider */
input[type="range"]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

.slider {
  transform: rotate(-38deg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background-color: transparent;
  width: 100vh;
  height: 0;
  border: none;
  background: none;
  /*border-bottom: 8px solid #2e3546;*/
  outline: none;
  z-index: 999;
  margin: 10vh;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background-color: transparent;
  width: 20vh;
  height: 20vh;
  cursor: pointer;
  background-color: transparent;
  transform-origin: 50% 50%;
  filter: blur(0.2px);
  transform: rotate(var(--rotation-angle));
  background: var(--rockBG);
  background-repeat: no-repeat;
  background-size: var(--rockBG-size);
  margin-left: var(--margin-offset);
}

.slider::-webkit-slider-thumb {
  content: "test";
}

/*.slider::-moz-range-thumb {
}*/

#shop,
#credits,
#forceLandscape {
  display: none;
  position: absolute;
  top: 0;
  margin: 10vh 10vw;
  height: calc(80vh - 38px);
  width: calc(80vw - 38px);
  background-color: #dcbb90dd;
  z-index: 1000;
  border: 19px double var(--border-color);
  backdrop-filter: blur(5px);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#shoplink {
  background-color: var(--bg-color2);
  border-radius: 1.5em;
  padding: 0.5em 2em;
  text-decoration: none;
  position: fixed;
  bottom: 12vh;
  right: 5vw;
  color: var(--text-color);
  box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#shop h1 {
  margin: 1em 0;
  animation-name: shoptitle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  overflow: hidden;
}

div#storebody {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div#storebody > a {
  font-size: 4em;
  text-decoration: none;
}

#shopitem img {
  height: 100%;
  margin-bottom: 16px;
}

#shopitem {
  height: 40vh;
}

#shopitem a {
  background: #ea972c;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 1em;
}

@keyframes shoptitle {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: red;
  }
  20% {
    transform: matrix(1.4, 0.2, 0, 2, 0, 0);
    color: magenta;
  }
  60% {
    transform: matrix(1.1, -0.2, 0, 2, 0, 0);
    color: blue;
  }
  80% {
    transform: matrix(1.8, 0.2, 0, 1, 0, 0);
    color: green;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: red;
  }
}

a.close {
  text-decoration: none;
  font-size: 4vh;
  margin: 6px 15px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

div#background {
  background-image: url(svg/Mountain.svg);
  height: 950px;
  background-size: cover;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--BG-bottom);
  z-index: -1;
  bottom: 0;
  left: var(--BG-left);
  aspect-ratio: 1.5;
}

#inputcontainer,
#bgcontainer {
  width: 100vw;
  text-align: center;
}

#bgcontainer {
  margin-left: 50vw;
  margin-right: 50vw;
  width: 0;
  position: relative;
  left: -100vw;
}

#modalBackdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.3);
}

/*force Landscape*/
@media all and (orientation: portrait) {
  #forceLandscape {
    display: block !important;
  }
  #modalBackdrop {
    display: block;
  }
}
#forceLandscape {
  margin: 30vh 10vw !important;
  height: 30vh !important;
  width: 60vw !important;
  padding: 1em;
  z-index: 1002 !important;
}

#forceLandscape img {
  width: 4em;
}

#langlink {
  background-color: var(--bg-color2);
  border-radius: 1.5em;
  padding: 0.5em 2em;
  text-decoration: none;
  color: var(--text-color);
  box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.2);
  max-width: 5em;
}

#langdiv {
  text-align: center;
}

#langdiv * {
  margin: 1em auto;
  display: block;
}

#fslink {
  position: fixed;
  top: 12vh;
  right: 5vw;
}

#fslink img {
  width: 3em;
}
