@font-face {
  font-family: "Diogenes";
  src: url("font/Diogenes.woff2") format("woff2"),
    url("font/Diogenes.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --rotation-angle: 0deg;
  --margin-offset: -30px;
  --BG-left: 1000px; /*-100*/
  --BG-top: -500px; /*700*/
}

* {
  margin: 0;
}

body {
  background-color: #e8d3b7;
  color: #2e3546;
  font-family: "Diogenes";
}

body::before {
  content: "";
  position: fixed;
  top: -10%;
  left: -10%;
  right: 0;
  z-index: -1;

  display: block;
  background-size: cover;
  width: 120%;
  height: 120%;
  background-image: url("img/monaback.jpg");
  filter: blur(3px);
  margin-top: calc((var(--BG-top)) / 10);
  margin-left: calc((var(--BG-left)) / 10);
}

header,
footer {
  height: 7vh;
  background-image: url("svg/bluegreekkeywithlines.svg");
  background-repeat: repeat-x;
  width: 100%;
  position: fixed;
  background-color: #dcbb90;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

footer {
  bottom: 0;
}

header {
  font-size: 3vh;
  align-content: center;
}

header div {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  background-color: #dcbb90;
  border: solid 4px #76582d;
  height: calc(100% - 8px);
  align-content: center;
}

header a {
  font-size: 2vh;
  align-content: center;
}
a {
  color: #3d507e;
}
a:visited {
  color: #3d507e;
}
a:hover {
  color: #68779a;
}

header a img {
  height: 3.5vh;
  margin: 3px;
}

#container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  aspect-ratio: 1;
  margin: auto;
}

#info {
  font-family: "Diogenes";
  position: fixed;
  top: 11vh;
  left: 5vw;
  z-index: 1000;
}

/* Slider */
input[type="range"]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

.slider {
  transform: rotate(-35deg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background-color: transparent;
  width: 90vw;
  height: 10vh;
  border: none;
  background: none;
  /*border-bottom: 8px solid #2e3546;*/
  outline: none;
  z-index: 999;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background-color: transparent;
  width: 20vh;
  height: 20vh;
  cursor: pointer;
  background-color: transparent;
  transform-origin: 50% 50%;
  filter: blur(0.2px);
  transform: rotate(var(--rotation-angle));
  background-image: url("svg/rock.svg");
  background-size: cover;
  margin-left: var(--margin-offset);
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background-color: transparent;
  width: 20vh;
  height: 20vh;
  cursor: pointer;
  background-color: transparent;
  transform-origin: 50% 50%;
  filter: invert(15%) sepia(12%) saturate(3764%) hue-rotate(328deg)
    brightness(92%) contrast(89%);
  transform: rotate(var(--rotation-angle));
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><polygon points="12.7,2 2,9.6 0,34.7 20,39.4 37.7,28 33,7.6 "/></svg>');
  background-size: cover;
}

#shop,
#credits {
  display: none;
  position: absolute;
  top: 0;
  margin: 10vh 10vw;
  height: 80vh;
  width: 80vw;
  background-color: #dcbb90dd;
  z-index: 1000;
  border: 19px double #76582d;
  backdrop-filter: blur(5px);
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#shop h1 {
  margin: auto;
  position: fixed;
  margin: 1em;
  animation-name: shoptitle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes shoptitle {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: red;
  }
  20% {
    transform: matrix(1.4, 0.2, 0, 2, 0, 0);
    color: magenta;
  }
  60% {
    transform: matrix(1.1, -0.2, 0, 2, 0, 0);
    color: blue;
  }
  80% {
    transform: matrix(1.8, 0.2, 0, 1, 0, 0);
    color: green;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: red;
  }
}

a.close {
  text-decoration: none;
  font-size: 4vh;
  margin: 6px 15px;
  position: fixed;
  top: 0;
  right: 0;
}

div#background {
  background-image: url(svg/Mountain.svg);
  width: 1500px;
  height: 1000px;
  background-size: cover;
  position: fixed;
  margin-left: var(--BG-left); /*-100*/
  margin-top: var(--BG-top); /*700*/
  z-index: -1;
}
